*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
nav{
    align-items: center;
    width: 100%;
    background: #33CCFF;;
padding: 20px;
/*color: #fff;*/
display: block;
}
ul li {
    background: #fff;
    padding: 10px;
    display: inline;
    justify-content:center;
    margin: 5px;
   color: #000;
  }

ul a{
    text-decoration: none;
}
ul li a:hover{
    background:  rgb(247, 239, 239);
    color: rgb(24, 26, 23);
    padding:10px;
  }
  h1, h2, p, span{
text-align: center;
  }
article{
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2px 16px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-items: center;
    color: #fff;
    background: #33CCFF;
}
article:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
  }
  article section, img{
    margin: 10px;
    display: inline-block;
  }
  img{
    width: 200px;
  }
  form {
    border: 3px solid #f1f1f1;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}
input[type=text], input[type=password], input[type=date], input[type=number], input[type=search] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
  /*  display: inline-block;*/
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  button {
    background: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
  /*  border-radius: 10px;*/
    cursor: pointer;
   width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }

   .editar{
    background: #04AA;
  }

  .excluir{
    background: #FF0000;
  }
  .funcoes{
    display: inline-block;
  
  }
  .pesquisar{
    display: inline;
  }
  .busca{
    background: #04AA;
  }