*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
nav{
    align-items: center;
    width: 100%;
    background: rgb(24, 26, 23);
padding: 20px;
color: rgb(24, 26, 23);

}
ul li {
    background: rgb(247, 239, 239);
    padding: 10px;
    display: inline;
    justify-content:center;
    margin: 5px;
   color: rgb(24, 26, 23);
  }

ul a{
    text-decoration: none;
}
ul li a:hover{
    background:  rgb(247, 239, 239);
    color: rgb(24, 26, 23);
    padding:10px;
  }

  